@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
:root {
    --fonte-texto: 'inter', sans-serif;
    --vermelho-principal: #8E2424;
    --cinza-principal: #667085;
    --cinza-secundario-texto: #101828; 
    --cinza-terciario-borda: #EAECF0;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--fonte-texto);
    font-weight: 500;
}

.cabesalho {
    display: flex;
    justify-content: space-around;
    margin: 18px 0;
}

.cabesalho-marca {
    display: flex;
    align-items: center;
}

.cabesalho-marca-texto {
    margin: 0 0 0 8px;
    font-size: 18px;
    color: #3A404E;
}

.cabesalho-paginas {
    display: flex;
    gap: 2em;
}

.cabecalho-paginas-pagina {
    color: var(--cinza-principal);
    text-decoration: none;
}

.cabecalho-login-botao {
    border: none;
    background-color: #FFFFFF;
}

.cabesalho-login-cadastrar {
    padding: 10px 18px;
    background-color: var(--vermelho-principal);
    border-radius: 8px;
    color: #FFFFFF;
    font-size: 16px;
}

.cabesalho-login-entrar {
    margin-right: 1.9em;
    color: var(--cinza-principal);
    text-decoration: none;
}

.conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5% 25%;
}

.conteiner-pagina {
    color: var(--vermelho-principal);
    font-weight: 600;
    margin-bottom: 24px;
}

.conteiner-titulo {
    font-weight: 600;
    font-size: 48px;
    margin-bottom: 30px;
}

.conteiner-texto {
    color: var(--cinza-principal);
    font-size: 20px;
    font-weight: 400;
}

.conteiner__resultados{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 10%;
}

.conteiner__resultados-div{
    width: 15%;
}

.conteiner__resultado-titulo{
    color: var(--vermelho-principal);
    font-weight: 600;
    font-size: 60px;
}

.conteiner__resultado-subtitulo{
    font-size: 18px;
    color: var(--cinza-secundario-texto);
    font-style: normal;
}

.conteiner__resultado-texto{
    color: var(--cinza-principal);
    font-weight: 400;
}

.conteiner__talentos{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.conteiner__talentos-pagina{
    color: var(--vermelho-principal);
    font-size: 14px;
    background-color: rgba(142, 36, 36, 5%);
    padding: 4px 12px;
    border-radius: 16px;
    line-height: 20px;
}

.conteiner__talentos-titulo{
    font-size: 36px;
    font-weight: 600;
    color: var(--cinza-secundario-texto);
    line-height: 44px;
    letter-spacing:  -2%;
    padding: 20px 0;
}

.conteiner__talentos-texto{
    color: var(--cinza-principal);
    font-size: 20px;
    font-weight: 400;
    line-height:30px;
}

.conteiner__talentos-imagem{
    padding: 5% 10%;
}

.conteiner__vagas{
    margin: 0 20%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.conteiner__vagas-card{
    display: flex;
    flex-direction: column;
    border: 1px solid var(--cinza-terciario-borda);
    border-radius: 16px;
    gap: 32px;
    padding: 1em;
}

.conteiner__vagas-titulo{
    font-size: 20px;
    color: var(--cinza-secundario-texto);
    margin-top: 64px;
}

.conteiner__vagas-subtitulo{
    color: var(--cinza-secundario-texto);
    font-size: 18px;
}

.conteiner__vagas-informacoes{
    color: var(--cinza-principal);
    font-size: ;
}